*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body{
    background-image: url(/pexels-mitch-lally-15031194.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }


  .container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 125rem;
    height: 100vh;
    display: flex;
    width: 100%;
  }



  .container span {
    font-size: 80px;
  }
  
  hr{
position: relative;
top: 100px;

  }

  #date{
    position: absolute;
    transform: translate(-50%, -70%);
    font-size:xx-large ;
    color: #ffd60a;
    top: 400px;
    left: 40%;
  }

  #date1{
    position: absolute;
    transform: translate(-50%, -60%);
    font-size:xx-large ;
    color: #220aff;
    font-weight: bolder;
    top: 5%;
    left: 50%;

  }





  


