*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body{
    background-image: url(/pexels-mitch-lally-15031194.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }


  .container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 125rem;
    height: 100vh;
    display: flex;
    width: 100%;
  }



  .container span {
    font-size: 80px;
  }
  
  hr{
position: relative;
top: 100px;

  }

  #date{
    position: absolute;
    transform: translate(-45%, -60%);
    font-size:xx-large ;
    color:#283618;
    top: 45%;
    left: 50%;
  }

  #date1{
    position: absolute;
    transform: translate(-22%, -70%);
    font-size:xx-large ;
    color: #220aff;
    font-weight: bolder;
    top: 40%;
    left: 20%;

  }





  


